<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Durable Functions Shop Admin Console</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div class="text-center bg-light mb-0">
    <h1>Admin Console</h1>
</div>
<div id="app" class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Created</th>
                    <th>Product</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="order in orders" :key="order.input.Id">
                    <td> <a :href="'orderStatus.html?id=' + order.input.Id">{{order.input.Id}}</a></td>
                    <td>{{order.createdTime | formatDate}}</td>
                    <td>{{order.input.Items | formatOrderItems}}</td>
                    <td>{{order.runtimeStatus | formatRuntimeStatus}}</td>
                    <td>
                        <span v-if="order.customStatus === 'Needs approval'">
                            <a href="#" class="btn btn-success approveButton" @click="approve(order, 'Approved')">Approve</a>
                            <a href="#" class="btn btn-danger rejectButton" @click="approve(order, 'Rejected')">Reject</a>
                        </span>
                        <span v-if="order.runtimeStatus !== 0">
                            <a href="#" @click="deleteOrder(order)"><i class="fas fa-trash text-danger"></i></a>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
        <div class="row" v-if="errorMessage">
            <div class="alert alert-danger">
                {{errorMessage}}
            </div>
        </div>
    </div>

<script src="scripts/admin.js"></script>
</body>
</html>