<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Durable Functions Shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div class="text-center bg-light mb-0">
    <h1>Order Status</h1>
</div>
<div id="app" class="container">

    <div class="row">
        <form class="form-inline">
            <label class="sr-only" for="inputOrderNumber">Order Number</label>
            <input type="text" v-model="orderId" class="form-control" id="inputOrderNumber" placeholder="Order Number">
            <button type="submit" class="btn btn-primary ml-2" @click="checkStatus">Check</button>
        </form>
    </div>
    <div class="row" v-if="errorMessage">
        <div class="alert alert-danger">
            {{errorMessage}}
        </div>
    </div>
    <div class="row">
        <div v-if="orderStatus">
            <order-status v-if="orderStatus" :order-status="orderStatus"></order-status>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" v-if="orderStatus && orderStatus.customStatus === 'Needs approval'">
            <h3>Approve order</h3>
            <a href="#" class="btn btn-success approveButton" @click="approve('Approved')">Approve</a>
            <a href="#" class="btn btn-danger rejectButton" @click="approve('Rejected')">Reject</a>
        </div>
    </div>
</div>

<template id="orderStatusTemplate">

            <table class="table table-striped mt-2">
                <tbody>
                    <tr>
                        <td><strong>Product Id: </strong></td>
                        <td>{{orderStatus.input.ProductId}}</td>
                    </tr>
                    <tr v-if="orderStatus.input.PurchaserEmail">
                        <td><strong>Purchaser Email: </strong></td>
                        <td>{{orderStatus.input.PurchaserEmail}}</td>
                    </tr>
                    <tr>
                        <td><strong>Created Time: </strong></td>
                        <td>{{orderStatus.createdTime | formatDateTime}}</td>
                    </tr>
                    <tr>
                        <td><strong>Last Updated: </strong></td>
                        <td>{{orderStatus.lastUpdatedTime | formatDateTime}}</td>
                    </tr>
                    <tr>
                        <td><strong>Runtime Status: </strong></td>
                        <td>{{orderStatus.runtimeStatus | formatRuntimeStatus}}</td>
                    </tr>
                    <tr v-if="orderStatus.customStatus">
                        <td><strong>Custom Status: </strong></td>
                        <td>{{orderStatus.customStatus}}</td>
                    </tr>
                <tr v-if="orderStatus.output">
                    <td><strong>Status: </strong></td>
                    <td>{{orderStatus.output.Status}}</td>
                </tr>
                <tr v-if="orderStatus.output && orderStatus.output.Pdf">
                    <td><strong>Downloads: </strong></td>
                    <td><a class="btn btn-primary" :href="orderStatus.output.Pdf">PDF</a>
                        <a class="btn btn-primary" :href="orderStatus.output.Video">Video</a>
                    </td>
                </tr>
                </tbody>

            </table>

</template>

<script>
    // get a query string parameter https://stackoverflow.com/a/901144/7532
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function getOrderId() {
        const id = getParameterByName('id');
        if (id) return id;
        var pathArray = window.location.pathname.split('/');
        return pathArray[pathArray.length - 1];
    }

    Vue.filter('formatDateTime',
        function(value) {
            const d = new Date(value);
            return d.toLocaleString();
        });

    Vue.filter('formatRuntimeStatus',
        function (value) {
            return ["Running", "Completed", "ContinuedAsNew", "Failed", "Canceled", "Terminated", "Pending"][value];
        });

    Vue.component('order-status',
        {
            props: ['orderStatus'],
            template: '#orderStatusTemplate'
        });

    const postData = (url = '', data = {}) => {
        // Default options are marked with *
        return fetch(url,
                {
                    method: "POST", // *GET, POST, PUT, DELETE, etc.
                    mode: "no-cors", // no-cors, cors, *same-origin
                    cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                    credentials: "same-origin", // include, same-origin, *omit
                    headers: {
                        "Content-Type": "application/json; charset=utf-8"
                    },
                    redirect: "follow", // manual, *follow, error
                    referrer: "no-referrer", // no-referrer, *client
                    body: JSON.stringify(data) // body data type must match "Content-Type" header
                })
            .then(response => response.json()); // parses response to JSON
    };

    var app = new Vue({
        el: '#app',
        data: {
            orderId: null,
            orderStatus: null,
            errorMessage: null
        },
        mounted: function () {
            this.orderId = getOrderId();
            this.checkStatus();
        },

        methods: {
            checkStatus: function (event) {
                if (event) event.preventDefault();
                this.errorMessage = null;
                this.orderStatus = null;
                fetch(`/api/orderstatus/${this.orderId}`)
                    .then(response => {
                            if (response.status === 404) {
                                this.errorMessage = "Order " + this.orderId + " not found";
                            } else {
                                response.json().then(json => this.orderStatus = json);
                            }
                        }
                    )
                    .catch(err => console.dir(err));
            },
            approve: function(approvalStatus) {
                postData(`/api/approve/${this.orderId}`, approvalStatus);
            }
        }
    });
    </script>
</body>
</html>